1: Create Lists ,Tuples, Dictionaries and Sets. Print elements stored in each case.

In [1]:
li = [1, 2, 3]
tu = (1, 2, 3)
di = {1: 'a', 2: 'b', 3: 'c'}
se = {1, 2, 3, 1, 3}

for ele in li:
    print(ele, end=', ')
print()

for ele in tu:
    print(ele, end=', ')
print()
for key in di:
    print(key, ':', di[key], end=', ')
print()
for ele in se:
    print(ele, end=', ')
print()

1, 2, 3,
1, 2, 3,
1 : a, 2 : b, 3 : c,
1, 2, 3,

2: i) Select the Element kept at 2nd position. From a List and display it.
ii) create numpy array by already existing list and display its datatype and
dimension.

In [2]:
li = [1, 2, 3]
pos = 2
print(li[pos-1])
print()

import numpy as np
nli = np.array(li)
print(nli.dtype)
print(nli.ndim)
print(nli.shape)

2

int32
1
(3,)

3: Use range function to generate values with name RangeVar. Keep
lower bound as 1, higher bound 50. and each value should have
difference of 10.

In [3]:
RangeVar = list(range(1, 50+1, 10))
print(RangeVar)

[1, 11, 21, 31, 41]

4: Create a string ‘Techniquelab’. Find out the character at 5 th position.
Find out the index of ‘l’ in the string.

In [4]:
s = 'Techniquelab'
pos = 5
print(s[pos-1])
print(s.index('l'))

n
9

5: In 3rd question, the values populted in RangeVar.Find out if 11 exists
and also find out the value at 3rd index.

In [5]:
RangeVar = list(range(1, 50+1, 10))
print(11 in RangeVar)
idx = 3
print(RangeVar[idx])

True
31

6: Create a list with values 100, ‘Alice’, 12 and ‘Programmer’.Display the
whole list.Then add value ‘Python’ to the list and display the modified
list.

In [6]:
li = [100, 'Alice', 12, 'Programmer']
print(li)
li.append('Python')
print(li)

[100, 'Alice', 12, 'Programmer']
[100, 'Alice', 12, 'Programmer', 'Python']

7: Create a tuple with values:100, ‘Alice’, 12 and ‘Programmer’.Display
the tuple.Then add values ‘Python’ and ‘ML’ to it and display the
modified tuple.

In [7]:
tu = (100, 'Alice', 12, 'Programmer')
print(tu)
tu = tuple(list(tu) + ['Python', 'ML'])
print(tu)

(100, 'Alice', 12, 'Programmer')
(100, 'Alice', 12, 'Programmer', 'Python', 'ML')

8: In the tuple with values :100, ‘Alice’, 12 and ‘Programmer’,print the
values from index 0 to 2 ,getting displayed on console thrice.

In [8]:
tu = (100, 'Alice', 12, 'Programmer')
for i in range(3):
    for j in range(3):
        print(tu[j], end=', ')
    print()

100, Alice, 12,
100, Alice, 12,
100, Alice, 12,